/* General */

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    background-color: #0073A5;
}

h1 {
    font-size: 50px;
}


/* Content */

.content {}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

header {
    margin-bottom: 30px;
    color: #f2870a;
}

#random-article {
    margin-bottom: 15px;
}

#random-article a {
    color: #ffffff;
    text-decoration: none;
}

#random-article a:hover {
    color: #eeeeee;
    text-decoration: none;
}

#search-icon {
    color: #f2870a;
    margin-bottom: 15px;
}


/* Helpers */

.center {
    margin-left: auto;
    margin-right: auto;
}


/* Content */


/* Animations */
