/* General */

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 20px;
    color: #222222;
    background-color: #ffffff;
}

h1 {
    font-size: 50px;
}

/* Helpers */

.center {
    margin-left: auto;
    margin-right: auto;
}

/* Content */

.content {}

#vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    -webkit-transition: all .75s;
    -moz-transition: all .75s;
    transition: all .75s;
}

header {
    margin-bottom: 30px;
    color: #222222;
}

#random-article {
    margin-bottom: 15px;
}

#random-article a {
    color: #222222;
    text-decoration: none;
}

#random-article a:hover {
    color: #666666;
    text-decoration: none;
}

.search-results {
    margin-bottom: 50px;
}

.single-result-holder {
    margin-top: 20px;
    border: 1px solid #222222;
    padding: 15px;
    background-color: #eeeeee;
    color: #222222;
    border-left: 5px solid #000000;
    text-align: left;
    font-size: 18px;
}

.single-result-holder a {
    color: #222222;
}

.single-result-holder a:hover {
    text-decoration: none;
    color: #666666;
}

.result-title {
    font-size: 26px;
}

.result-description {

}

/* Expanding Search */

#exp-search {
    margin-top: 20px;
    margin-bottom: 15px;
}

input {
    outline: none;
}

input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
}

input::-webkit-search-decoration, input::-webkit-search-cancel-button {
    display: none;
}

input[type=search] {
    background: #ededed url(https://github.com/dpcleveland/wikipedia-viewer/raw/master/visual/img/search-icon.png) no-repeat 9px center;
    color: transparent;
    border: solid 1px #ccc;
    padding: 9px 10px 9px 10px;
    width: 15px;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;
    -webkit-transition: all .75s;
    -moz-transition: all .75s;
    transition: all .75s;
    cursor: pointer;
}

input[type=search]:focus {
    width: 175px;
    padding-left: 32px;
    color: #000;
    background-color: #fff;
    border-color: #eeeeee;
    -webkit-box-shadow: 0 0 5px rgba(116, 116, 116, 0.5);
    -moz-box-shadow: 0 0 5px rgba(116, 116, 116, 0.5);
    box-shadow: 0 0 5px rgba(116, 116, 116, 0.5);
    cursor: auto;
}

input[type=search]:hover {
    background-color: #fff;
}

input:-moz-placeholder {
    color: transparent;
}

input::-webkit-input-placeholder {
    color: transparent;
}
